@import url(https:fonts.googleapis.com/css2?family=Roboto&display=swap);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html{
    height: 100%;
}
div{
    display: block;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(105deg, #226d54 0%, #5ae9b9 100% ); */
    background-image: url('../img/img-inmobiliaria.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
h1, h2, h3, h4{
    margin: 5px;
    color: white;
    font-weight: 100;    
}
hr{
    margin-bottom: 10px;
}
form{
    margin: 5px;
    padding: 8px;
}

button{
    margin: 10px 7px;
    padding: 30px;
    border: none;
    border-radius: 5%;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}   

#ingresar{
    background-image: url('../img/login-enter.png');
    background-position: center;
    background-repeat: no-repeat;
}
#ingresar:active{
    background-color: transparent;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.6);
}
#listMenu{
    background-image: url('../img/list-option.png');
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper{
    top: 100px;
    max-width: 1290px;
    min-width: 450px;
    border-left: 1px solid #000;
    background-color: white;
    opacity: 90%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    padding: 30px;
    margin: 20px;
}
.container {    
    width: 550px;    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #226d54;
    opacity: 90%;
}
nav{    
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #226d54;
    opacity: 90%;
}
main h2{
    margin: 5px;
    color: black;
    font-weight: 100; 
    background-color: #226d54;    
}
.input{
    padding: 10px;
    margin: 30px 10px;    
}

.inmuebles{
    width:430px;
}

.navBar{
    width: 100%;
    padding: 0 20px
}

.navBar .wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}